body {text-align: center; font-family: abel; font-size: 13px;}

div.syarat{font-size: 14px;}

div.profile-link{position:relative;left:400px;top:20px;color:rgb(0,140,44);}
.profile-link a{color: rgb(0,140,44);}
.data-article span{font-size:13px !important;float:right;display:block;}
.data-article p{text-align: justify;}
.data-article hr{border-color: transparent !important;}
.others-article{margin:50px;font-size:13px;text-align:justify;background:rgba(144, 195, 48, 0.7);max-width:850px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:20px;}

.shareabout{text-align: justify;margin: 20px;}

.home{float: left; width: 400px;}

#myGallery img.active{
  display: block;
  /*margin-left: 400px;*/
  margin-top: 100px;
  z-index: -1;
  padding-right: 40px;
}

nav{position: relative;}
nav ul{margin: 0 auto;}
nav li{display: inline;float: left;}

.clearfix:before,.clearfix:after{content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.menu-left{float:left;margin-left:200px;}
.menu-right{float:right;margin-right:130px;}

nav a{display: inline-block;text-align: center;text-decoration: none;}
nav li a{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
nav li:last-child a{border-right: 0;}
nav a#pull{display:none;height: 20px;width:10%;}

@media screen and (max-width: 600px) {
  .register, .home {
    background: none repeat scroll 0 0 rgba(144, 195, 48, 0.9);
    border-radius: 10px;
    margin-top : 250px;
    max-width: 400px;
    text-align: center;
  }
  .cg, .cg:hover{color: '#fff' !important;}
  div.profile-link{left:auto;top:auto;margin-top: 10px;}
  #myGallery img.active{display:block;margin-left:0px;z-index:-1;}
  .eightith{margin-left: -54px !important;}
  .home {width: 100%;}
  #myGallery {position: absolute;margin-left: 10px;margin-top: 30px;}

}

@media only screen and (max-width : 480px) {
  .questCont{color: rgb(0,140,44);background: "#fff"}
  .cg, .cg:hover{color: '#fff' !important;}
  div.profile-link{left:auto;top:auto;}
  #myGallery img.active{margin-bottom:100px;margin-left:0px;z-index:-9999;}
  .logout{margin-bottom: 10px !important;}
  .eightith{top:12.5% !important;}
  .home {width: 100%;}
  #myGallery {position:absolute;margin-left: -45px;margin-top: 30px;}
  .register, .home {background: none repeat scroll 0 0 rgba(144, 195, 48, 0.9);border-radius: 10px;margin-top : 250px;max-width: 400px;text-align: center;}
}

@media only screen and (max-width : 320px) {
  .questCont{color: rgb(0,140,44);background: "#fff"}
  .cg, .cg:hover{color: '#fff' !important;}
  div.profile-link{left:auto;top:auto;}
  #myGallery img.active{margin-left:0px;z-index:-1;}
  .logout{margin-bottom: 10px !important}
  .leaderboard{margin-left: 69px !important;}
  .eightith{top:12.5% !important;}
  .home {width: 100%;}
  #myGallery {position:absolute;margin-left: -65px;margin-top: 30px;}
  .register, .home {
    background: none repeat scroll 0 0 rgba(144, 195, 48, 0.9);
    border-radius: 10px;
    margin-top : 250px;
    max-width: 400px;
    text-align: center;
  }
}

ul.yiiPager{display: block !important; font-size: 15px !important;}
ul.yiiPager .selected a{background:rgba(144, 195, 48, 0.5) !important;}
ul.yiiPager a:link, ul.yiiPager a:visited {border: solid 1px rgba(144, 195, 48, 0.5) !important;color:#fff !important;background:rgba(144, 195, 48, 0.5) !important;}

.navbar-default {background-color: transparent;border-color: #e7e7e7; margin-bottom: 0;border: none;margin-bottom: -20px;
margin-top: -20px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {color: #fff;background-color: none !important;}
.navbar-default .navbar-nav>li>a {color: #fff;padding-bottom: 0;font-size: 15px;font-weight: normal;}
/*.mainMenuCont ul li {float: left;margin-left: 30px;margin-bottom: 0;}*/
a:hover{color: #fff !important;};
a:visited{color: #fff !important;};
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color: #fff !important;}
.btn:hover{color: transparent !important;}

/*img.eightith{margin-left: -82px !important;}*/

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: transparent !important;}
.navbar-default .navbar-toggle {border: none !important;color:#fff;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
.nav .navbar-nav{border: none !important;}
.navbar-collapse{border: none !important;}

div.about{margin-bottom: 10px;}
#yw0{margin-top: 10px;}

.data-article div>img{margin-bottom: 20px;}
div.centering-image{text-align:center !important;margin-top:20px !important;}

.link-container a,
.link-container a:hover,
.shake:hover {
  -webkit-animation-name: linkQuake;
    -moz-animation-name: linkQuake;
      animation-name: linkQuake;
  -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
      animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
      transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
      animation-timing-function: linear;
}

@keyframes linkQuake {
  0%   {
    transform: translate(2px, 1px)   rotate(0deg);
  }
  10%  {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20%  {
    transform: translate(-3px, 0px)  rotate(1deg);
  }
  30%  {
    transform: translate(0px, 2px)   rotate(0deg);
  }
  40%  {
    transform: translate(1px, -1px)  rotate(1deg);
  }
  50%  {
    transform: translate(-1px, 1px)  rotate(-1deg);
  }
  60%  {
    transform: translate(-3px, -2px)  rotate(0deg);
  }
  70%  {
    transform: translate(2px, 1px)   rotate(-1deg);
  }
  80%  {
    transform: translate(-1px, -2px) rotate(1deg);
  }
  90%  {
    transform: translate(2px, -1px)   rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px)  rotate(-1deg);
  }
}

@-moz-keyframes linkQuake { /* Firefox */
  0%   {
    -moz-transform: translate(2px, 1px)   rotate(0deg);
  }
  10%  {
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20%  {
    -moz-transform: translate(-3px, 0px)  rotate(1deg);
  }
  30%  {
    -moz-transform: translate(0px, 2px)   rotate(0deg);
  }
  40%  {
    -moz-transform: translate(1px, -1px)  rotate(1deg);
  }
  50%  {
    -moz-transform: translate(-1px, 1px)  rotate(-1deg);
  }
  60%  {
    -moz-transform: translate(-3px, -2px)  rotate(0deg);
  }
  70%  {
    -moz-transform: translate(2px, 1px)   rotate(-1deg);
  }
  80%  {
    -moz-transform: translate(-1px, -2px) rotate(1deg);
  }
  90%  {
    -moz-transform: translate(2px, -1px)   rotate(0deg);
  }
  100% {
    -moz-transform: translate(1px, -2px)  rotate(-1deg);
  }
}

@-webkit-keyframes linkQuake { /* Safari and Chrome */
  0%   {
    -webkit-transform: translate(2px, 1px)   rotate(0deg);
  }
  10%  {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20%  {
    -webkit-transform: translate(-3px, 0px)  rotate(1deg);
  }
  30%  {
    -webkit-transform: translate(0px, 2px)   rotate(0deg);
  }
  40%  {
    -webkit-transform: translate(1px, -1px)  rotate(1deg);
  }
  50%  {
    -webkit-transform: translate(-1px, 1px)  rotate(-1deg);
  }
  60%  {
    -webkit-transform: translate(-3px, -2px)  rotate(0deg);
  }
  70%  {
    -webkit-transform: translate(2px, 1px)   rotate(-1deg);
  }
  80%  {
    -webkit-transform: translate(-1px, -2px) rotate(1deg);
  }
  90%  {
    -webkit-transform: translate(2px, -1px)   rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px)  rotate(-1deg);
  }
}

#user-form label {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #333;
}

div.social-article {
  text-align: center;
  display: block;
  height: 30px;
}

img.theimage{
  max-height: 84px;
}

.data-article{
  text-align: justify;
}

.thumb{
  display: block!important;
}

.thetext{
  display: none;
}

.about{
  text-align: left;
}

@media(max-width: 768px){
  .eightith{
    margin-left: -50px;
  }
}

.yourLink{
  word-break: break-all;
}