body {
    margin: 0;
    color: #fff;
    font: normal 12px Arial,Helvetica,sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

a,
a:hover {
    color: #fff;
    text-decoration: none;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color: #ffffff;
    border: 1px solid rgb(144,195,48);
    color: rgb(144,195,48);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
}

.cg,
.cg:hover {
    color: rgb(144,195,48);
}

.headText {
    font-size: 18px;
    font-weight: bold;
}

.bodyText {

}

.submitBtn {
    cursor: pointer;
}

.note {
    color: #999;
    font-size: 11px;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.hf:before,
.hf:after {
    content: "";
    display: table;
}

.hf:after {
    clear: both;
}

.bgCont {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -333;
}

.picFXY {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#picTree {
    position: relative;
    max-width: 100%;
}

.leaf {
    position: fixed;
}

.leaft {
    top: 0;
}

.leafr {
    right: 0;
}

.leafb {
    bottom: 0;
}

.leafl {
    left: 0;
}

#page {
    margin-top: 20px;
}

/*#content {

}*/

.container {
    max-width: 860px;
    margin: auto;
}

.mainMenuCont {
    color: #fff;
    background: rgb(144,195,48);
    padding: 10px 0;
    position: relative;
    margin-top: 50px;
}

/*.mainMenuCont ul li {*/
    /*float: left;*/
    /*margin-left: 30px;*/
/*}*/

/*.mainMenuCont ul li:first-child {
    margin-left: 136px;
}

.mainMenuCont ul li:nth-child(4) {
    margin-left: 168px;
}*/

/*.menuCont {
    max-width: 950px;
    margin: auto;
}*/

.eightith {
    position: absolute;
    margin-left: -82px;
    margin-top: -37px;
    left: 49%;
    z-index: 99999;
}

.logoCont {
  text-align: center;
  margin-top: 15px;
}

.piclogomain{
    margin-right: 84px;
}

.index {
    text-align: center;
}

.highlighttext{
    color: rgb(153, 202, 60);
    border-top: 1px solid rgb(153, 202, 60);
    margin-top: 10px;
    padding-top: 10px;
}

.btnCont {
    margin-top: 20px;
}

.btnLink {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 174px;
    height: 17px;
    padding: 10px 0;
    background: url('../images/nutrilite_btnbg.png') no-repeat;
}

.register, .home {
    background: none repeat scroll 0 0 rgba(144, 195, 48, 0.9);
    border-radius: 10px;
    margin : auto;
    max-width: 400px;
    text-align: center;
}

.register .content, .home .content {
    padding: 20px;
}

.register input[type="text"] {
    width: 100%;
    text-align: center;
}

.treeData {
    padding: 10px;
    max-width: 200px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin: auto;
    background: #fff;
    color: rgb(54, 154, 85);
    box-shadow: 0px 3px 5px #000;
    font-weight: bold;
    font-size: 14px;
}

.link {
    border: 3px solid #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    max-width: 150px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    color: rgb(54,154,85);
    font-weight: bold;
}

.getPoint .right {
    width: 50%;
    position: relative;
}

.getPoint .left {
    width: 50%;
    position: relative;
}

.getPoint .contentPart {
    position: absolute;
    color: #000;
    top: 88px;
    width: 100%;
}

.getPoint .innCont {
    max-width: 279px;
    text-align: center;
    margin: auto;
}

.getPoint .left .innCont {
    padding-right: 20px;
}

.getPoint .right .innCont {
    padding-left: 20px;
}

.getPoint .content {
    max-width: 772px;
    margin: auto;
}

.getPoint .headText {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.getPoint .yourLink {
    margin: 20px auto;
    border: 3px solid rgb(144,195,48);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 10px;
}

.shareLink {
    margin: 10px 5px;
    cursor: pointer;
}

.statisticCont {
    margin-top: 20px;
    border: 1px solid #999;
    padding: 7px;
}

.getPoint td {
    width: 50%;
    padding: 5px;
}

.getPoint td:nth-child(1) {
    text-align: right;
}

.getPoint td:nth-child(2) {
    text-align: left;
}

.questCont {
    /*height: 70px;*/
    padding: 20px;
    border: 1px solid rgb(54, 154, 85);
    margin-top: 35px;
    position: relative;
    text-align: left;
}

.iconQ {
    position: absolute;
    width: 40px;
    top: -20px;
    left: -20px;
}

.getPoint .btnCont {
    text-align: right;
}

.getPoint .submitBtn {
    width: 80px;
}

.leaderBoard table {
    border-collapse:collapse;
}

.leaderBoard table {
    border-bottom: 3px solid rgb(54, 154, 85);
}

.leaderBoard .data table {
    border-bottom: 0;
}

.leaderBoard th {
    background: rgb(153, 204, 51);
    border: 0px solid rgb(54, 154, 85);
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
}

.leaderBoard th:nth-child(1) {
    text-align: center;
    border-top-left-radius: 10px;
}

.leaderBoard th:nth-child(2){
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.leaderBoard th:nth-child(3) {
    text-align: center;
    border-top-right-radius: 10px;
}

.leaderBoard td {
    background: rgba(255, 255, 255, 0.8);
    border: 0px solid rgb(54, 154, 85);
    color: rgb(54, 154, 85);
    padding: 10px;
}

.leaderboard td:nth-child(2){
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.leaderBoard td a,
.leaderBoard td a:hover {
    color: rgb(54, 154, 85)!important;
}

.leaderBoard .col1 {
    width: 20%;
    text-align: center;
}

.leaderBoard .col2 {
    width: 45%;
}

.leaderBoard .col3 {
    width: 35%;
}

.leaderBoard td.col1 {
    width: 20%;
}

.leaderBoard td.col2 {
    width: 45%;
}

.leaderBoard td.col3 {
    width: 35%;
}

.leaderBoard .data {
    height: 325px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.about, .rules {
    text-align: center;
    background: rgba(144, 195, 48, 0.9);
    max-width: 850px;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
}

.about ul, .rules ul {
    list-style: decimal;
    padding: 0 20px;
    text-align: left;
}

.save{
    background: rgb(0,140,44);
    color: #fff;
    border-color: rgb(0,140,44);
    border-radius: 6px;
    width: 100px;
    height: 30px;
}

#myGallery img.active {
    display: block;
    margin-top: 100px;
    z-index: -1;
}

#myGallery {

}
